/* Enlace de Fuentes de Google */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Belgrano);

/* Reset de todos los elementos */
* {
	margin: 0;
	padding: 0;
}

/* Estilos para el body */
body {
	font-family: "Droid Sans", sans-serif;
	font-size: 0.9em;
}

h1, h2, aside h3 {
	font-family: "Belgrano", serif;
}

/* Estilos para Div Contenedor */
#contenedor {
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 0 0 10px #999;
	margin:20px auto;
	max-width: 960px;
}

/* Estilos para el Header */
figure, #nav_busqueda {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

figure img {
	width: 300px;
}

#nav_busqueda {
	width: 55%;
}

#busqueda {
	border: 2px solid #ddd; 
	border-radius: 35px;
	box-shadow: inset 2px 2px 5px #ddd;
	color: #ccc;
	height: 20px;
	margin: 5px auto;
	padding: 10px;
	width: 95%;
}

#busqueda p {
	position: relative;
	left: 10px;
}

#busqueda::after {
	content: "Búsqueda";
	background-color: #000;
	border-radius: 20px;
	box-shadow: -2px 1px 7px #000;
	color: #fff;
	padding: 10px;
	position: relative;
	left:425px;
	top: -15px;
	text-shadow: 1px 1px 1px #000;
	vertical-align: middle;
}

#nav_superior {
	background: -webkit-linear-gradient(#888 15%, #333 30%, #000 100%);
	background: -moz-linear-gradient(#888 15%, #333 30%, #000 100%);
    background: -o-linear-gradient(#888 15%, #333 30%, #000 100%);
    background: linear-gradient(#888 15%, #333 30%, #000 100%);
	border-radius: 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%;
}

#nav_superior ul li {
	display: inline-block;
	padding: 0 20px 0 20px;
	text-shadow: -1px 1px 1px #000;
}

#nav_superior ul li a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#nav_superior a:link, #nav_superior a:visited {
	color: #fff;
}

#nav_superior a:hover{
	color: #60caff;
  	-webkit-transition: color 0.1s ease-in;
	-moz-transition: color 0.1s ease-in;
	-ms-transition: color 0.1s ease-in;
	-o-transition: color 0.1s ease-in;
	transition: color 0.1s ease-in;
}

#nav_superior a:active{
	color: #fc9300;
	-webkit-transition: color 0s ease-in;
	-moz-transition: color 0s ease-in;
	-ms-transition: color 0s ease-in;
	-o-transition: color 0s ease-in;
	transition: color 0s ease-in;
}

/* Estilos para el Aside con Carrousel */
#carrousel {
	height: 200px;	
	width: 100%;
}

#carrousel figure img {
	width: 960px;
}

/* Estilos para el Aside o Barra de navegación izquierda */
#contenido_principal {
	position: relative;
}

#contenido_principal aside {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 0 20px rgba(0,0,0,0.6);
	margin-top: 10px;
	position: absolute;
	z-index: 100;
}

#contenido_principal aside, #contenido_principal main {
	display: inline-block;
	height: 1300px;
	vertical-align: top;
	width: 200px;
}

#contenido_principal aside hgroup h3 {
	background: -webkit-linear-gradient(#e31400 70%, #b00100 85%);
	background: -moz-linear-gradient(#e31400 70%, #b00100 85%);
	background: -o-linear-gradient(#e31400 70%, #b00100 85%);
	background: linear-gradient(#e31400 70%, #b00100 85%);
	border-radius: 10px 10px 0 0;
	box-shadow: 0 5px 10px #999;
	color: #fff;
	font-size: 1.5em;
	height:40px;
	padding-top: 10px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 200;
}

#contenido_principal aside nav {
	padding: 15px 0 0 0;
}

#contenido_principal aside nav ul li {
	list-style: none;
}

#contenido_principal aside nav ul li a {
	border-bottom: 1px dotted #ccc;
	background: -webkit-linear-gradient(left, #ddd, #fff);
	background: -moz-linear-gradient(#ddd, #fff);
	background: -o-linear-gradient(#ddd, #fff);
	background: linear-gradient(left, #ddd, #fff);
	list-style: none;
	display: block;
	padding: 15px 0 15px 25px;
	position: relative;
	top: 40px;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease-in;
	text-decoration: none;
}

#contenido_principal aside nav ul li a:link, #contenido_principal aside nav ul li a:visited {
	color: #ab0085;
	font-weight: bold;
	text-decoration: none;
}

#contenido_principal aside nav ul li a:hover {
	color: #fc9300;
	box-shadow: inset 2px 2px 5px #aaa;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #aaa;
}

/* Estilos para Sección de Contenido Principal */
#contenido_principal main {
	background-color: #fff;
	position: relative;
	left: 190px;
	width: 765px;
}

/* Estilos para las Secciones Nuevos-Destacados-Más Vendidos */
section {
	background-color: #fff;
	border-radius: 0 40px 20px 0;
	margin: 10px auto;
	padding: 30px 5px 30px 30px;
}

section>h2 {
	font-size: 2em;
	margin-bottom: 25px;
	margin-left: 10px
}

#nuevos>h2, #destacados>h2, #masvendidos>h2 {
	background-color: #fff;
	border-radius: 25px;
	box-shadow: -4px 4px 12px rgba(0,0,0,0.4);
	padding: 5px 45px;
	text-align: center;
	text-shadow: -1px 1px 1px #999;
	width: 605px;
}

#nuevos>h2 {
	color: #60caff;
}

#destacados>h2 {
	color: #fc9300;
}

#masvendidos>h2 {
	color: #ab0085;
}

#nuevos {
	background-color: #60caff;
	background: -webkit-linear-gradient(#60caff, #4a9cc4 50%);
	background: -moz-linear-gradient(#60caff, #4a9cc4 50%);
    background: -o-linear-gradient(#60caff, #4a9cc4 50%);
    background: linear-gradient(#60caff, #4a9cc4 50%);
}

#destacados {
	background-color: #fc9300;
	background: -webkit-linear-gradient(#fc9300, #b86b00 50%);
	background: -moz-linear-gradient(#fc9300, #b86b00 50%);
    background: -o-linear-gradient(#fc9300, #b86b00 50%);
    background: linear-gradient(#fc9300, #b86b00 50%);
}

#masvendidos {
	background-color: #ab0085;
	background: -webkit-linear-gradient(#ab0085, #8a006b 50%);
	background: -moz-linear-gradient(#ab0085, #8a006b 50%);
    background: -o-linear-gradient(#ab0085, #8a006b 50%);
    background: linear-gradient(#ab0085, #8a006b 50%);
}

/* Estilos para Articles o información de Discos */
article {
	background-color: #fff;
	background: -webkit-linear-gradient(#ddd, #fff);
	background: -moz-linear-gradient(#ddd, #fff);
    background: -o-linear-gradient(#ddd, #fff);
    background: linear-gradient(#ddd, #fff);
	border-radius: 10px;
	display: inline-block;
	margin: 0 8px;
	min-height: 270px;
	padding-top: 25px;
	position: relative;
	vertical-align: top;
	width: 30%;
}

article figure img {
	border: 5px solid #fff;
	box-shadow: -3px 3px 15px rgba(0,0,0,0.4);
	position: relative;
	left:40px;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	width: 135px;
}

article hgroup {
	position: absolute;
	left:25px;
}

article hgroup h2 {
	font-size: 1.3em;
	margin-bottom: 0;
	margin-top: 20px; 
}

/* Estilos para el Aside Publicidad */
#publicidad figure img {
	background-color: #666;
	border-radius: 20px;
	height: 100px;
	margin: 25px 0 10px 0;
	width: 960px;
}

/* Estilos para el Footer con Nav Inferior y Copyright */
footer {
	background-color: #333;
	border-radius: 25px;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
}

footer p {
	margin-left: 40px;
}

footer #nav_inferior, footer p {
	display: inline-block;
	vertical-align: middle;
}

footer #nav_inferior a {
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
}
